/* -----> Global styles */

main {
    --shadow-black-100: 0 5px 15px rgba (0, 0, 0 0.1);
    --shadow-black-300: 0 5px 15px rgba (0, 0, 0 0.3);
    font-size: 16px;
    overflow-x: hidden;
}

section {
    --text-900: #000000;
    --color-span: #7857fe;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    --small-font-size: 0.9em;
    --normal-font-size: 1em;
    --box-shadow: 0px 0px 20px rgb(0 0 0 /10%);
    --first-color: #0e2431;
    --transparent-color-01: rgba(0, 0, 0, 0.1)
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #FFF;
    ;
}


/*  Font size */

.section-title-03 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}


/*  */

.title-mirror {
    font-size: 40px !important;
    color: var(--text-900);
    font-weight: 700;
    text-transform: capitalize;
    background: linear-gradient(to top, transparent 0%, #5800FC 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .3;
    text-align: center;
}


/* ------- HOME ------- */

.home {
    min-height: 100vh;
    padding: 150px 0;
    /* background-image: url(/assets/img/banner_inicio.jpg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    border-bottom-left-radius: 300px 15px;
    border-bottom-right-radius: 300px 15px;
}

.home:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #DA4453;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: rgba(21, 20, 51, 0.3); */
    z-index: -1;
}

.wave {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.home h1 {
    width: 100%;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 20px;
    color: #FFF !important;
}

.home-text p {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    font-weight: 300;
    color: #FFF
}

.home-img {
    position: relative;
}

.home-img img {
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    animation: float 3s ease infinite;
}

.home-text h1 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #000;
    margin: 0 0 20px;
    text-transform: capitalize;
}

.btn-1 {
    background-color: #312f3a;
    font-weight: 500;
    padding: 12px 30px !important;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.5s;
    font-weight: 500;
    text-transform: capitalize;
    box-shadow: var(--shadow-black-300);
}

.home .home-btn {
    margin-top: 40px;
}

.home .home-btn .icon-r {
    margin-left: 30px;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 16px;
    background-color: #312f3a;
    border: none;
    border-radius: 50%;
}

.home .home-btn .icon-r i {
    line-height: 50px;
    color: #FFF;
    font-size: 20px;
}

.home .home-btn .icon-r:hover {
    animation: none
}

.home .home-btn .icon-r:nth-child(2):hover {
    background-color: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.home .home-btn .icon-r:nth-child(3):hover {
    background-color: #00acee;
}

.home .home-btn .icon-r:nth-child(4):hover {
    background-color: #3b5998;
}

.home .home-btn .btn-1 {
    background-image: linear-gradient(to right, #CC3467 0%, #FF496E 51%);
    padding: 12px 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #312f3a;
    transition: all ease 0.5s;
    font-weight: 500;
}

.home .home-btn .btn-2 li {
    line-height: 50px;
    color: #FFF;
}

.big-title {
    font-size: 60px;
    color: #312f3a;
    text-transform: capitalize;
    line-height: 1.4;
    font-weight: bold;
}

.desc {
    max-width: 400px;
}

.button:hover {
    background-image: linear-gradient(to right, #a22b52 0%, #ca3d59 51%);
    color: white;
}


/* ------- SECTIONS ------- */


/* -----> Nosotros */

section .about-us-container {
    background: #FFF;
}

.section-content-01 .title-mirror {
    margin: 0;
}

.section-content-01 .title-01 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-900);
    text-align: center;
}

.section-content-01 .title-01>span {
    color: var(--color-span);
}

.section-content-01 p {
    margin-top: 30px;
}

.about-us {
    padding: 5px 0;
}

.about-us-img img {
    max-width: 450px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
}


/* ------> for-business */

.container-bussiness .section-title .titulo {
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--text-900);
}

.container-bussiness .section-title p {
    text-align: center;
}

section .container-bussiness {
    padding: 30px 0 60px 0;
}

section.container-bussiness {
    background-color: #FFF;
}

.container-content {
    display: flex;
    justify-content: space-evenly;
}

.img-businnes {
    width: 48%;
}

.container-bussiness .container-text {
    width: 48%;
}

.container-text h3 {
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

.container-text h3 span {
    color: #F02062;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
}

.container-text p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* ------> our-products*/


/* .section-content-03 {
    margin-bottom: 60px;
}

.section-content-03 h2 {
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--text-900);
    transform: translateY(-30px);
    text-align: center;
}

.section-content-03 h2>span {
    color: var(--color-span);
} */


/* -------- RESPONSIVE --------*/

@media (max-width: 1200px) {
    main {
        font-size: 55%;
    }
}

@media screen and (max-width:900px) {
    .container-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-bussiness .container-text {
        width: 90%;
    }
    .img-businnes {
        width: 90%;
    }
}

@media (max-width: 991px) {
    .home-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    .home-text {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 600px) {
    .home .home-text h1.big-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 575px) {
    .home-text h1 {
        font-size: 30px;
    }
    .home-text p {
        font-size: 16px;
    }
}

@media screen and (max-width:500px) {
    /* ABOUT US */
    .img-businnes {
        margin-bottom: 60px;
        width: 99%;
    }
    .container-bussiness .container-text {
        width: 95%;
    }
}


/* -------- ANIMATIONS  -------- */


/* -------> FLOAT */

@keyframes float {
    0%,
    100% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-3.5rem);
    }
}


/* 
@keyframes pulso {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
} */