<!-- MAIN -->
<main class="home d-flex aling-items-center">
    <div class=" container ">

        <div class="row aling-items-center ">

            <div class="col-md-7 ">

                <div class="home-text ">
                    <h1>recarga & vende para tu negocio tiempo aire, pago de servicios & pines electrónicos</h1>
                    <p class="text ">Para tu mayor comodidad podras vender desdetu smarphone, computadora o via SMS O whatsApp Obten una comisión hasta un 7% en todas tus recargas</p>

                    <div class="home-btn ">
                        <a href=" " class="button rounded-pill shadow tebel-sedang btn-1 ">Inscrbirme</a>

                        <button class="btn icon-r " type="button ">
                            <i class="fab fa-instagram "></i>
                        </button>
                        <button class="btn icon-r " type="button ">
                            <i class="fab fa-twitter "></i>
                        </button>
                        <button class="btn icon-r " type="button ">
                            <i class="fab fa-facebook-f "></i>
                        </button>

                    </div>
                </div>

            </div>

            <div class="col-md-5 text-center">
                <div class="home-img ">
                    <img src="assets/img/phone.png " alt="phone ">
                </div>
            </div>

        </div>
    </div>


    <div class="wave" style="height: 200px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 296.56,-34.02 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #FFF;"></path></svg></div>
</main>


<!-- SECTION about-us -->
<section class="about-us mt-5">

    <div class="container-fluid about-us-container">

        <div class="row">

            <div class="col-lg-7">

                <div class="section-content-01">
                    <p class="title-mirror">Un poco sobre nosotros</p>
                    <h2 class="title-01">Un poco sobre nosotros</h2>
                    <p class="text"> <strong>Recargas Electrónicas</strong> es una empresa dedicada a la <strong>venta de tiempo aire</strong>, actualmente ofrecemos nuestros servicios a toda la republica mexicana, nuestro carisma, honestidad y responsabilidad nos ha
                        posicionado como #1 en la preferencia de los clientes, de los servicios que ofrecemos incluyen la <strong> venta de tiempo aire, pago de servicios</strong> de las principales compañias de méxico, asi como la venta de <strong>pines electrónicos</strong>                        netflix, steam, spotify y muchos mas.
                    </p>
                </div>

            </div>

            <div class="col-lg-5">
                <div class="about-us-img">
                    <img src="assets/img/banner_presencia.png" width="100%" alt="nuestra presencia">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- SECTION for busniness -->
<section class="container-fluid container-bussiness mt-5">

    <div class="section-title">
        <p class="title-mirror">para tu <span>negocio</span></p>
        <h2 class="titulo">para tu negocio</h2>
    </div>

    <div class="container-content">
        <img src="assets/img/banner_negocio.jpg" class="img-businnes" alt="banner negocio">
        <div class="container-text">
            <h3><span class="far fa-check-circle"></span>todo en uno</h3>
            <p>Vende tiempo aire a cualquier compañia de tus clientes, paga los servicios que necesites & pines electrónicos, desde tu celular o computadora, todo lo que necesites en una sola plataforma adaptada a tus necesidades </p>
            <h3><span class="far fa-check-circle"></span>seguro y confiable</h3>
            <p> Recargas Electrónicas cuenta con la tranquilidad de estar trabajando con un sistema seguro y confiable, todos sus datos personales y financieros se encuentran protegidos con nosotros y nuestro sitio web cuenta con un certificado SSL</p>
            <h3><span class="far fa-check-circle"></span>cuentas claras</h3>
            <p>Reporte de ventas detallado por dia, semana o mes. Empieza a vender desde $300, recarga cuando quieras, sin pagos forzosos ni anualidades.</p>
        </div>
    </div>
</section>

<div class="our-offers">

</div>