/*-------- Estilso Generales-------- */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f1f8fc;
    font-family: "Poppins", sans-serif;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.section-header .text {
    max-width: 600px;
    margin: 0 auto !important;
    font-family: "Poppins", sans-serif;
    color: #7a7a7a;
}

.title {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
}

.title:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: #784cfb;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title:after {
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: #784cfb;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    font-size: 1.25rem;
    color: #7a7a7a;
    line-height: 1.6;
}


/* -------- FOOTER --------*/

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.container-foot {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer p {
    color: #FFF;
}

footer .footer-col {
    width: 20%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .info {
    position: relative;
}

.info li {
    display: flex;
    margin-bottom: 16px;
}

.info li span:nth-child(1) {
    color: #FFF;
    font-size: 20px;
    margin-right: 10px;
}

.info li span {
    color: #FFF;
}

.info li span a {
    color: #999;
}

.copy-f {
    width: 100%;
    padding: 8px 100px;
    background-color: #000;
    color: #FFF;
    margin: auto 0;
}


/*footer responsive*/

@media(max-width: 767px) {
    footer .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    footer .footer-col {
        width: 100%;
    }
}


/* fin footer responsive */


/*  Responsive text */

@media (max-width: 560px) {
    .title {
        font-size: 1.8rem;
    }
    .text {
        font-size: 0.92rem;
    }
}